# ergomcu project configuration file
# contains all the information about your project
# that has to be committed.

# Version of the ergomcutool which created this configuration file.
ergomcutool_version: {{ .ErgomcutoolVersion }}

# project_name should be the same as
# the ProjectManager.ProjectName in the .ioc file.
project_name: {{ .ProjectName }}

# device_id should be the same as
# ProjectManager.DeviceId in the .ioc file.
device_id:  {{ .DeviceId }}

openocd:
  # openocd target should match one of the file names in
  # the openocd scripts/target directory.
  target:  {{ .OpenocdTarget }}

# External project dependencies are libraries
# that you may use in your project.
# Note that it is recommended to only specify paths
# that you are going to commit here.
# Machine-dependent, local paths should be specified
# in either user or local ergomcutool_config.yaml.
external_dependencies:
#  - var:                     EXAMPLE_LIB_PATH
#    path:                    ../common_files/your/lib
#    create_in_project_link:  true
#    symlink_name:            example_lib

# C source files
c_src:
#  - _external/example_lib/file1.c
#  - _external/example_lib/file2.c

# Directories that contain C source files.
# The entire directory contents will be added to your project.
c_src_dirs:
#  - tests

# C include directories
c_include_dirs:
#  - _external/example_lib/include
