# ergomcutool project configuration file

# Version of the ergomcutool that created this configuration file.
ergomcutool_version: {{ .ErgomcutoolVersion }}

# project_name should be the same as
# the ProjectManager.ProjectName in the .ioc file.
project_name: {{ .ProjectName }}

# device_id should be the same as
# ProjectManager.DeviceId in the .ioc file.
device_id:  {{ .DeviceId }}

openocd:
  # openocd target should match one of the file names in
  # the openocd scripts/target directory.
  target:  {{ .OpenocdTarget }}

# External project dependencies are libraries
# or directories with source files that you may use in your project.
# Note that it is recommended to only specify here machine-independent paths
# that you are going to commit.
# Machine-dependent, local paths should be specified
# in either user or local ergomcutool_config.yaml.
external_dependencies:
#  - var:                     EXAMPLE_LIB
#    path:                    ../common_files/your/lib
#    create_in_project_link:  true
#    link_name:               example_lib

# C source files. You may use external_dependencies 'var' values.
c_src:
#  - _external/example_lib/file1.c
#  - {{"{{"}}.EXAMPLE_LIB{{"}}"}}/file2.c


# Directories that contain C source files.
# All .c files in that directory will be added to your project
# in alphabetical order.
c_src_dirs:
#  - tests

# C include directories
c_include_dirs:
#  - _external/example_lib/include

c_defs:
# - -D_EXAMPLE_DEFINITION
